body{
    margin: 0;
    height: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-image: url("dummy images/about.jpeg");
    background-repeat: no-repeat;
  background-size: cover;
  background-color:white;
  
}
/*----navbar--*/
.navbar{
    border:1px solid rgb(8, 8, 8);
    border: none;
    background-color:transparent;
    overflow: hidden;
}
.img1{
    margin:auto;
}

.nav-link{
    font-size: 15px;
    font-weight: bold;
   margin-right: 80px;
    border: 2px solid transparent;
    opacity: 1;
    color: gold;
    font-weight: bolder;
}
.nav-link:hover{
    border-bottom: 5px solid rgb(2, 27, 250);
    color: white;
   
}
.img2{
    margin: auto;
    justify-content: center;
    border: 1px solid red;
    border: none;
width:40%;
display: block;
margin-top: 50px;
}
.Connecting{
    color: rgb(12, 12, 12);
    border: 1px solid black;
    text-align: center;
    width: 60%;
    margin: auto;
    padding: 20px;
   

}
.box1{
    background-color: white;
    opacity: 0.5;
    height: 60vh;
    padding: 10px;
    
}



.row{
background-color: white;
width: 100%;
margin: auto;
padding: 40px;
}
.col{
    color: rgb(29, 94, 151);
}
.container1{
    color: rgb(20, 20, 20);
    background-color: whitesmoke;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
   
}
.LEARN{
    background-color: rgb(29, 94, 151);
   
    border-radius: 5px;
    color: white;
    padding:30px

}
#learn{
    height: 110px;
}
.LEARN:hover{
    border: 2px solid yellow;
}

.LEARN a{
    text-decoration: none;
   color: white;
    font-weight: 700;
   
}
#staff{
    width: fit-content;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 80%;
    font-size: 30px;
    font-weight: 600;
    background-color: goldenrod;
    color: white;
}
#user{
   
    width: fit-content;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    font-weight: 600;
   border-radius:  80%;
   
    font-size: 30px;
    background-color:rgb(2, 2, 39);
    color: white;
}
#country{
   
    width: fit-content;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 80%;
    font-size: 30px;
    font-weight: 600;
    background-color:skyblue;
    color: white;
}
.meet{
    margin: auto;
    font-weight: 800;
    text-align: center;
    padding: 100px;
}
.pic{
    margin: auto;
    border: 2px solid wheat;
    width: 90%;
    align-items: center;
    justify-content: center;
}
.founder{
    border: 2px solid black;
    margin: auto;
    width: 80%;
}

.facepic{
    width:100% ;
    border: 1px solid rgb(248, 248, 123);
   margin: auto;
    border-radius: 20px;
    color: aliceblue;
    background-color:#0a0a0a;
    font-weight: 700;
}
.facepic:hover{
    background-color: azure;
    color: #0a0a0a;
    border: 4px solid black;
    width: 270px;
   

}
.facedes{
    width: 100%;
    margin: auto;
    padding: 60px;
    color: rgb(10, 10, 92);
}
.collapse{
    background-color: goldenrod;
    padding: 20px;
}
.bottomtext{
    color: #0a0a0a;
    text-align: center;
}
.aboutfounder{
    color: thistle;
    margin-top: 30px;

}
.part1 a{
    color: rgb(165, 165, 172);
    text-decoration: none;
}
.part2 a{
    color: rgb(165, 165, 172);
    text-decoration: none;
}
.part1 a:hover{
    color: steelblue;
}
.part2 a:hover{
    color: steelblue;
}

.Berlin{
    background-color: goldenrod;
    color: white;
    padding: 20px;
    
}
.London{
    color:black;
    font-weight: 800;
    background-color: white;
}
.Backfabrik{
    color: rgb(117, 113, 113);
    font-weight: 900;
    background-color: white;
}
.allimg{
   margin: auto;
}
.info{
    background-color: rgb(82, 82, 112);
    color: white;
    padding: 10px;
    border: 3px solid rgb(255, 255, 255);
}
.info:hover{
    border: 3px solid black;
}
.info a{
    text-decoration: none;
    color: white;
}
.bottom{
    margin-top: 30px;
    border: 1px solid black;
    border: none;
}
.we{
    background-color: goldenrod;
}
.we a{
text-decoration: none;
color: whitesmoke;
font-weight: 600;
}

.footer{
    max-width:80% ;
    margin: 6rem auto;
    position: relative;
    
 }
 .footer,
 footer a{
     color: gray;
     font-size: 1rem;
    text-decoration: none;
    overflow-x:scroll;
 }
 .con{
     list-style: none;
 }
 .footer .footer-cols{
     display: grid;
     grid-template-columns: repeat(5,1fr);
     grid-gap: 2rem;
 }
 .footer li{
     line-height: 2;
 }
 .footer a:hover{
    color: rgb(10, 10, 10);

}