.bottom{
    margin-top: 30px;
    border: 1px solid black;
    border: none;
}
.we{
    background-color: goldenrod;
}
.we a{
text-decoration: none;
color: whitesmoke;
font-weight: 600;
}

.footer{
    max-width:80% ;
    margin: 6rem auto;
    position: relative;
    
 }
 .footer,
 footer a{
     color: rgb(143, 140, 140);
     font-size: 1rem;
    text-decoration: none;
    overflow-x:scroll;
 }
 .con{
     list-style: none;
 }
 .footer .footer-cols{
     display: grid;
     grid-template-columns: repeat(5,1fr);
     grid-gap: 2rem;
 }
 .footer li{
     line-height: 2;
 }
 .footer a:hover{
    color: rgb(36, 36, 36);

}
body{
    margin: 0;
    height: 0;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    
  background-color:rgb(235, 229, 229);
  
}
/*----navbar--*/
.navbar{
    border:1px solid rgb(8, 8, 8);
    border: none;
    background-color:transparent;
    overflow: hidden;
}
.img1{
    margin:auto;
}

.nav-link{
    font-size: 15px;
    font-weight: bold;
   margin-right: 80px;
    border: 2px solid transparent;
    opacity: 1;
    color: gold;
}
.nav-link:hover{
    border-bottom: 2px solid rgb(63, 63, 63);
}